/* @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #000000;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #000000;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
	overscroll-behavior: none;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

canvas {
	z-index: -1;
}

body {
	margin: 0;
	overflow: hidden;
	/* font-family: "Bebas Neue", serif; */
	/* font-family: "Mulish", sans-serif; */
	font-family: "DM Sans", sans-serif;
}

/* #primary-cursor {
	position: fixed;
	width: 25px;
	height: 25px;
	background-image: url("/cursor.png");
	background-size: contain;
	background-repeat: no-repeat;
	pointer-events: none;
	transform: translate(0%, 0%);
	z-index: 9999;
}

*,
*:hover,
*:active {
	cursor: none;
} */

.psv-navbar--open {
	bottom: 32px !important;
	border-radius: 50px;
	padding: 10px;
	text-align: center;
	display: flex !important;
	justify-content: center;
	gap: 10px;
	width: fit-content !important;
	position: fixed !important;
	left: 50% !important;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.2) !important;
	backdrop-filter: blur(64px) !important	;
	-webkit-backdrop-filter: blur(64px) !important;
	filter: brightness(1.1) !important;
	backdrop-filter: blur(5px);
}

@media only screen and (max-width: 1024px) {
	.psv-navbar--open {
		bottom: 12px !important;
	}
}

.psv-overlay {
	background: radial-gradient(
		#000000 0%,
		#191919 16%,
		#222222 33%,
		#2a2a2a 49%,
		#333333 66%,
		#444444 82%,
		#555555 100%
	) !important;
}

.psv-container {
	background: radial-gradient(
		#000000 0%,
		#191919 16%,
		#222222 33%,
		#2a2a2a 49%,
		#333333 66%,
		#444444 82%,
		#555555 100%
	) !important;
}
